/* &display=swap */
@import 'null.css';
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700,900&display=swap);
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */
body{
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
}
.block-part-1{
	max-width: 810px;
	margin: 0 auto 50px;
}
h1{
	font-size: 46px;
	color: #1E212C;
	font-weight: 900;
	line-height: 1.3;
	margin: 0 0 26px 0;
}
.block-information {
	color: #787A80;
	line-height: 1.6;
	margin: 0 0 40px 0;
}
.block-information-date {
	display: inline-block;
	background: url("../img/Calendar.svg") 0 4px no-repeat;
	padding: 0 0 0 24px;
	margin: 0 24px 0 0;
}
/* .block-information-date::before {
	content: "";
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url("../img/Calendar.svg") 0 0 / 16px no-repeat;
} */
.block-information-time {
	display: inline-block;
	background: url("../img/Clock.svg") 0 4px no-repeat;
	padding: 0 0 0 24px;
	margin: 0 24px 0 0;
}
.block-information-share {
	display: inline-block;
	min-height: 20px;
	color: #1E212C;
	font-weight: 700;
}

.block-information-share ul li:first-child a{
	height: 20px;
	width: 20px;
	display: inline-block;
	background: url("../img/Facebook.svg") 0 0 no-repeat;
	margin: 0 12px -3px 12px;
}

.block-information-share ul li:nth-child(2) a{
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url("../img/Twitter.svg") 0 0 / 20px no-repeat;
	margin: 0 12px -3px 0;
}
.block-information-share ul li:last-child a{
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url("../img/Linked-In.svg") 0 0 / 20px no-repeat;
	margin: 0 0 -3px 0;
}
.block-information-share ul li{
	display: inline-block;
}
img {
	margin: 0 0 60px 0;
}

.block-paragraph-1 {
	color: #1E212C;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	margin: 0 0 24px 0;
}
.block-paragraph-2 {
	color: #424551;
	line-height: 1.6;
	margin: 0 0 40px 0;
}
.block-paragraph-3 {
	color: #424551;
	line-height: 1.6;
	margin: 0 0 48px 0;
}
.block-paragraph-4-braces {
	font-size: 20px;
	color: #1E212C;
	font-weight: 700;
	line-height: 1.5;
	background: url("../img/braces.svg") 0 0 no-repeat;
	padding: 0 0 0 58px;
	margin: 0 0 48px 0;
}
.block-paragraph-5 {
	line-height: 1.6;
	margin: 0 0 24px 0;
}
.block-list{
	color: #424551;
	line-height: 1.6;
	margin: 0 0 24px 0;
}
.block-list li{
	background: url("../img/check.svg") 0 5px no-repeat;
	padding: 0 0 0 32px;
}
.block-paragraph-6 {
	line-height: 1.6;
	margin: 0 0 69px 0;
}

.block-part-game{
	/* height: 100vh; */
	max-width: 810px;
	margin: 0 auto;
	font-family: Orbitron;
	text-align: initial;
}
h2{
	padding: 50px 0 0 0;
	color: #fff;
	font-size: 65px;
	text-align: center;
	height: 250px;
	background: url("../img/https___cdn.evbuc.com_images_45407904_149521031620_1_original.png") left bottom / 250px no-repeat, url("../img/1500x500.jpg") 0 0 / 100% auto no-repeat;
	border-radius: 20px;
}
/* .line__gorizontal{
	background-color: #fc0208;
} */
.game-line-1{
	/* display: inline-block; */
	border-radius: 15px 15px 0 0;
	cursor: pointer;
	color: #fff;
	padding: 15px 0 0 0;
	text-align: center;
	width: 120px;
	height: 50px;
	background-color: #fc0208;
}
.game-line-2{
	height: 50px;
	width: 100%;
	background-color: #fc0208;
	visibility: hidden;
}
.game-line-1:hover ~ .game-line-2, .game-line-2:hover {
	visibility: visible;
	width: 100%;
}
.game-line-3{
	display: inline-block;
	height: 100px;
	width: 750px;
	background-color: #ffffff;
}
.game-line-3-1{
	visibility: hidden;
	display: inline-block;
	height: 100px;
	width: 55px;
	background-color: #fc0208;
}
.game-line-2:hover ~ .game-line-3-1, .game-line-3-1:hover{
	visibility: visible;
}
.game-line-4{
	visibility: hidden;
	height: 50px;
	width: 100%;
	background-color: #fc0208;
}
.game-line-3-1:hover ~ .game-line-4, .game-line-4:hover{
	visibility: visible;
}
.game-line-5{
	height: 35px;
	width: 25px;
	background-color: #fc0208;
	visibility: hidden;
}
.game-line-4:hover ~ .game-line-5, .game-line-5:hover{
	visibility: visible;
}
.game-line-6{
	height: 150px;
	width: 20px;
	background-color: #fc0208;
	visibility: hidden;
}
.game-line-5:hover ~ .game-line-6, .game-line-6:hover{
	visibility: visible;
}
.game-line-finish-block{
	background: url("../img/morpheus_pill.jpg") 50%/auto auto no-repeat;
	color: #fff;
	font-size: 65px;
	text-align: center;
	height: 250px;
	border-radius: 20px;
	text-shadow: 2px 2px #fc0208;
	visibility: hidden;
}
.game-line-6:hover ~ .game-line-finish-block, .game-line-finish-block:hover{
	visibility: visible;
}